body {
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.card-img-top {
    height: 70%;
}

.card-title {
    padding-top: 10px;
    font-size: larger;
}

.bg-image-full {
    background-size: cover;
    height: 500px;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/*======================Login Page==============================*/


/* Bordered form */

form {
    border: 3px solid #f1f1f1;
}


/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/* Extra style for the cancel button (red) */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Avatar image */

img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


/* Changes from here - KD*/


/* -- Section -- */

.section {
    width: 100%;
    padding: 30px 0 0 0;
    overflow: hidden;
}


/* -- Section Discover -- */

.section-discover {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 420px) {
    .section-discover {
        flex-wrap: wrap;
    }
}

.section-discover-body {
    padding: 10px 55px;
    display: flex;
    justify-content: center;
}

@media (max-width: 420px) {
    .section-discover-body {
        padding: 10px 20px;
        flex-wrap: wrap;
    }
}

.section-discover-body .col {
    width: calc(100%/4);
    margin: 5px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(132, 150, 168, 0.2);
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.section-discover-body .col:hover {
    box-shadow: 5px 2px 10px rgba(104, 158, 212, 0.5);
}

@media (max-width: 420px) {
    .section-discover-body .col {
        width: 100%;
    }
}

.section-discover-body img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 240px;
    display: block;
    border-radius: 8px;
}

.section-discover-body .col .caption {
    position: absolute;
    bottom: 0;
    background: rgba(206, 64, 64, 0.5);
    color: #f1f1f1;
    width: 100%;
    color: white;
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
    z-index: 100;
    height: 20%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    /*font-family: "Lobster";*/
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.section-discover-body .col:hover .caption {
    height: 30%;
}

.section-discover-body .col:hover .caption-text {
    visibility: visible;
}


/* -- Section Explore -- */

.section-explore {
    margin-top: 60px;
    background: url("https://images.pexels.com/photos/165939/pexels-photo-165939.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 82vh;
    position: relative;
}

.section-explore .overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-explore .overlay .caption {
    width: 100%;
}

.section-explore .overlay .caption h2 {
    text-transform: uppercase;
    font-family: "Montserrat-Medium";
}

.section-explore .overlay .caption img {
    width: 65%;
}

@media (max-width: 420px) {
    .section-explore {
        height: 40vh;
    }
    .section-explore .overlay .caption img {
        width: 90%;
    }
}


/* Texture Handler */

.texture-handler-top {
    width: 100%;
    height: 24px;
    background: url("images/texture-top.png");
    position: absolute;
}

.texture-handler-bottom {
    width: 100%;
    height: 17px;
    background: url("images/texture-bottom.png");
    bottom: 0;
    position: absolute;
}

form .field .showBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: none;
    user-select: none;
}

form .indicator {
    height: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

form .indicator span {
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}

form .indicator span:nth-child(2) {
    margin: 0 3px;
}

form .indicator span.active:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.indicator span.weak:before {
    background-color: #ff4757;
}

.indicator span.medium:before {
    background-color: orange;
}

.indicator span.strong:before {
    background-color: #23ad5c;
}

form .text.weak {
    color: #ff4757;
}

form .text.medium {
    color: orange;
}

form .text.strong {
    color: #23ad5c;
}